* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(240, 255, 31);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container1 {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    padding: 20px;
    width:75%;
    margin-left:12.5%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    font-family:"Montserrat";
    font-size: 125%;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    font-family:"Papyrus";
    font-size: 125%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  body{
    margin:0;
  }
  header{
    background-color:#e0e2e2;
  }
  header::after{
    content:"";
    display:table;
    clear:both;
  }
  .container{
    width:80%;
    margin:0 auto;
  }
  nav{
    float:right;
  }
  nav ul{
    margin: 0;
    padding:none;
    list-style: none;
  }
  nav li{
    display:inline-block;
    margin-left :40px;
    padding-top: 10px;
    padding-bottom:10px;
    position: relative;
  }
  nav a{
    font-family: 'Lucida Sans';
    color:black;
    text-transform: uppercase;
    font-style:italic;    
    font-size: 25x;
  }
  nav a::before{
    content:"";
    display:block;
    height:5px;
    width:100%;
    background-color: blue;
    position:absolute;
    top:0;
    width:0%;
    transition: ease-in-out 500ms;
  }
  nav a:hover::before{
    width:100%
  }
  #dec{
    font-size:150%;
    font-family:"Poppins";
    color: #000000;
    text-align:center;
  }
  